@media screen and (max-width:1267px){
    header{
        /* height: 15vh;  */
        position: fixed;
    }
    .panel{
        display: none;
    }
    .slider {
        margin: 6vh 0px 0px 0px;
        height: 210px;
    }
    #nav-lang{
        display: none;
    }
    #nav-account{
        display: none;
    }
    #nav-return{
        display: none;
    }
    #nav-cart{
        display: none;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    #nav-log-add{
        display: flex;
  width: 100vw;
    }
    .nav-items {
        padding: 10px 0px;
      }
    .logo{
        padding: 0px 70vw 0px 5vw;
        display: flex;
  align-items: center;
    }
    .logo img{
        width: 100px;
    }
    .search input {
        width: 70vw;
    
    }
    .card{
        display: flex;
        flex-wrap:wrap;
    }
    .country ul{
        flex-wrap: wrap;
    }
    .cards{
        width: 329.5px;
    }
    .groceries{
        width: 90vw;
    }
}
@media screen and (max-width:996px){
    .logo{
        padding: 0px 60vw 0px 5vw;
        display: flex;
    }
    .slider{
        height: 155px;
        margin: 6vh 0px 0px 0px;
    }
}
@media screen and (max-width:655px){
    .slider{
        margin: 12vh 0px 0px 0px;
    }
}
@media screen and (max-width:548px){
    .logo{
        padding: 0px 25vw 0px 5vw;
        display: flex;
    }
    .slider{
        margin: 15vh 0px 0px 0px;
        height: 115px;
    }
}
@media screen and (max-width:330px){
    .slider{
        margin: 14vh 0px 0px 0px;
    }
}

