@media screen and (max-width:1197px){
    body{
        /* background-color: red; */
    }
    .panel{
        display: none;
    }
    .slider {
        
        height: 100px;
    }
    #nav-lang{
        display: none;
    }
    #nav-account{
        display: none;
    }
    #nav-return{
        display: none;
    }
    #nav-cart{
        display: none;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    #nav-log-add{
        display: flex;
  width: 100vw;
    }
    .logo{
        padding: 0px 50vw 0px 5vw;
        display: flex;
  align-items: center;
    }
    .logo img{
        width: 20vw;
    }
    .search input {
        width: 70vw;
    
    }
    .card{
        display: flex;
        flex-wrap:wrap;
    }
}